<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>channge-password</title>
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="../public/stylesheets/main.css">
    <link rel="stylesheet" href="../public/stylesheets/change-password.css">
</head>
<body>
<!--导航栏-->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <!--logo-->
        <div class="navbar-header">
            <a class="navbar-brand"  href="#"><img class="logo" src="../public/images/logo.png" /></a>
        </div>
        <!--导航栏按钮-->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1"  >
            <ul class="nav navbar-nav">
                <li class="active"><a class="title" href="#">首页</a></li>
                <li><a class="title" href="#">分类</a></li>
                <li><a class="title" href="#">资讯</a></li>
            </ul>
            <form class="navbar-form navbar-left">
                <div class="form-group">
                    <input type="text" class="form-control" style="width: 250px" placeholder="请输入内容…">
                </div>
                <button  type="submit" class="btn btn-default search-button">搜索</button>
            </form>
            <ul class="nav navbar-nav navbar-right" style="margin-right:10px;margin-top:10px">
                <li><button class="tologin" href="#">登录</button></li>
                <li><button class="tosign" href="#">注册</button></li>
            </ul>
        </div>
    </div>
</nav>
<!--主体内容-->
<div class="first-box">
    <div class="menu-box">
        <div class="me-box"><span class="me">个人中心</span></div>
        <div class="mymassage-box"><span class="mymassage">个人信息</span></div>
        <div class="like-box"><span class="like">我的收藏</span></div>
        <div class="like-box"><span class="like">修改密码</span></div>
    </div>
    <div class="change-box">
        <div class="title-box"><span class="title">修改密码</span></div>
        <div class="old-password-box"><input class="old-password"  placeholder="请输入原密码"></div>
        <div class="old-password-box"><input class="old-password"  placeholder="请输入新密码"></div>
        <div class="old-password-box"><input class="old-password"  placeholder="请确认新密码"></div>
        <div class="button-box"><button class="send">立即修改</button></div>
    </div>
</div>
</body>
</html>