/*主体内容*/
.first-box{
    background-color: white;
    margin:80px 50px 50px 50px;
    padding:20px;
}

.menu-box{
    display: inline-block;
}

.me{
    font-size: 24px;
}

.mymassage-box{
    padding-top: 35px;
    font-size: 18px;
    color: #e54209;
}

.like-box{
    padding-top: 30px;
    font-size: 18px;
}


/*修改密码*/
.change-box{
     display: inline-block;
    vertical-align: top;
    padding-left: 350px;
    padding-top: 50px;
 }

.title{
    font-size: 26px;
    padding-left: 125px;
}

.old-password-box{
    padding-top: 40px;
}

input{
    border-color: #DDDDDD;
    border-style: solid;
    width: 400px;
    height: 50px;
    color: #BBBBBB;
}

.button-box{
    padding-top: 40px;
    padding-left: 40px;
}

.send{
    font-size: 24px;
    border: none;
    color: white;
    background-color: #e54209;
    width: 300px;
    height: 50px;
    border-radius: 25px;
}