/*主体内容*/
.first-box{
    background-color: white;
    margin:80px 50px 50px 50px;
    padding:20px;
}

.menu-box{
    display: inline-block;
}

.me{
    font-size: 24px;
}

.mymassage-box{
    padding-top: 35px;
    font-size: 18px;
    color: #e54209;
}

.like-box{
    padding-top: 30px;
    font-size: 18px;
}

.line{
    display: inline-block;
    color: #DDDDDD;
    width: 1.5px;
    height: 200px;
}