/*主体内容*/
.first-box{
    background-color: white;
    margin:80px 50px 50px 50px;
    padding:20px;
}

/*视频*/
.film{
    display: inline-block;
    width: 85%;
    height: 40%;
    vertical-align: top;
}

.list-box{
    display: inline-block;
}

.chose{
    font-size: 22px;
    padding-left: 80px;
}

.no-one-box{
    font-size: 20px;
    padding-left: 73px;
    padding-top: 15px;
    color: #e54209;
}

.next-one-box{
    font-size: 20px;
    padding-left: 73px;
    padding-top: 15px;
}